<div id="main-container">
    <!-- div.frame#image-$*3>img -->
    <div class="frame" id="image-0"><img src="" alt=""></div>
    <div class="frame" id="image-1"><img src="" alt=""></div>
    <div class="frame" id="image-2"><img src="" alt=""></div>
</div>