body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #354c6e
}
a {
  color: #00B7FF;
}

#main-container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}
.frame {
    position: absolute;

    height: 110vh;
    width: 110vw;
    visibility: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}


#image-0 {
    visibility: visible;
}
